<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
<title>Task Management</title>
</head>
<body>

    <div class="container" align="left">
    <div class="page-header" align="left">
        <h1>List of Assigned TASK </h1>
    </div>
        <section th:each="adat: ${datList}">
        <table class="table table-striped table-bordered">
        <tr>
        <td>Project ID </td>
        <td colspan="1" th:text="${adat.aProject.getProjectId()}">Project ID</td>
        </tr>
        <tr>
        <td>Project Name</td>
        <td colspan="1" th:text="${adat.aProject.getProjectName()}">Project Name</td>
        </tr>
        <tr>
        <td>Project Description</td>
        <td colspan="1" th:text="${adat.aProject.getProjectDescription()}">Project Description</td>
        </tr>
        <tr>
        <td>Project Start Date</td>
        <td colspan="1" th:text="${adat.aProject.projectStartTime}">Start Date</td>
        </tr>
        <tr>
        <td>Project End Date </td>
        <td colspan="1" th:text="${adat.aProject.getProjectEndTime()}">end Date</td>
        </tr>
        <tr>
        <td>Task ID </td>
        <td colspan="1" th:text="${adat.aTask.getTaskId()}">Task ID</td>
        </tr>
        <tr>
        <td>Project ID </td>
        <td colspan="1" th:text="${adat.aTask.getProjectId()}">aTask ProjectId</td>
        </tr>
        <tr>
        <td>Task Name </td>	
        <td colspan="1" th:text="${adat.aTask.getTaskName()}">aTask TaskName</td>
        </tr>
        <tr>
        <td>Task Description</td>
         <td colspan="1" th:text="${adat.aTask.getTaskDescription()}">aTaskkDescription</td>
        </tr>
        <tr>
        <td>Task Priority </td>
        <td colspan="1" th:text="${adat.aTask.getTaskPriority()}"> aTaskPriority</td>
        </tr>
  		<tr>
  		<td>Task TaskStartTime</td>
  		<td colspan="1" th:text="${adat.aTask.getTaskStartTime()}"> aTaskStart Date</td>
        </tr>
        <tr>
         <td>Task TaskENDTime </td>
        <td colspan="1" th:text="${adat.aTask.getTaskEndTime()}">aTask end Date</td>
        </tr>
        <tr>
        <td>User ID </td>
        <td colspan="1" th:text="${adat.aUser.getuserId()}">userId</td>
        </tr>
        <tr>
         <td>User Name </td>
        <td colspan="1" th:text="${adat.aUser.getuserName()}">userName</td>
        </tr>
        <tr>
        <td>User Email </td>
        <td colspan="1" th:text="${adat.aUser.getemail()}">email</td>
        </tr>
        <tr>
        <td>User ROle </td>
        <td colspan="1" th:text="${adat.aUser.getrole()}">role</td> 
        </tr>
        <tr align="center">
        <td colspan="2"><h2>---------------------------------------------------------------------------------------</h2></td>
        </tr>
        </table>
		</section>
</div>   
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/site.js"></script>
</body>
</html>