<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
<title>Task Management</title>
</head>
<body>

    <div class="container">
    <div class="page-header">
        <h1>List of TASK </h1>
    </div>
    
    <table class="table table-striped table-bordered">
        <tr>
        	<td>Task ID</td>	
            <td>Project ID</td>
            <td>Task Name</td>
            <td>Task Description</td>
            <td>Task Priority</td>
            <td>Start Date</td>
            <td>end Date</td>
            <td>#</td>
            <td>#</td>
          
        </tr>
        <tr th:each="aTaskT: ${taskList}">
            <td th:text="${aTaskT.getTaskId()}">Project ID</td>
            <td th:text="${aTaskT.getProjectId()}">Project Name</td>
            <td th:text="${aTaskT.getTaskName()}">Project Description</td>
            <td th:text="${aTaskT.getTaskDescription()}">Start Date</td>
            <td th:text="${aTaskT.getTaskPriority()}">Priority</td>
            <td th:text="${aTaskT.getTaskStartTime()}">Start Date</td>
            <td th:text="${aTaskT.getTaskEndTime()}">end Date</td>
            <td>
            <div class="row-sm-10">
            <form class="form-horizontal" action="#" th:action="@{/}" method="post">
            <input type="hidden" name="upTask" id="upTask"  th:value="${aTaskT.getTaskId()}" />
            <input type="submit" class="btn btn-default" value="Update" th:name= "${aTaskT.getTaskId()}"/>
            </form>
            </div>
            </td>
            <td>
            <div class="row-sm-10">
            <form class="form-horizontal" th:action="@{/deleteTask}" method="post">
            <input type="hidden" name="delTask" id="delTask"  th:value="${aTaskT.getTaskId()}" />
            <input type="submit" class="btn btn-default" value="Delete" th:name= "${aTaskT.getTaskId()}"/>
            </form>
            </div>
            </td>
        </tr>
        </table>
        
        <br></br>
         	<br></br>
         	<div align="center">  
         	<table>
         	<tr align="center">
	        </tr>
         	<tr align="center">
	            <td><form class="form-horizontal" th:action="@{/UI}"  method="get">
	            <input type="submit" class="btn btn-primary btn-lg" style="width: 800px;" value="Go back"/>
	            </form>
	            </td>
	        </tr>
	        </table>
	        </div>  
    
</div>   
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/site.js"></script>
</body>
</html>