<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Update User</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<form autocomplete="off" action="#" method="post" class="form-horizontal" >
					<h2>Update User</h2>
					<p th:if="${Error}" class="error" style="color: red;">Same password or Password mismatch. Number of character in Password  must be atleast 3 </p>
					
					<div class="form-group">
					<label class="col-sm-2 control-label">User Name :</label>
						<div class="col-sm-9">
						<input type="text" th:field="${UserUpdate.userName}" placeholder="userName" class="form-control" disabled="disabled"/> 
						</div>
					</div>
				</form>
				<form  action="#" th:action="@{/updatedUser}" th:object="${tempPassword}" method="post" class="form-horizontal" role="form">
					<div class="form-group">
					<label class="col-sm-2 control-label">Old Password :</label>
						<div class="col-sm-9">
							<input type="text" th:field="*{oldPassword}" placeholder="oldPassword" class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
					<label class="col-sm-2 control-label">New Password :</label>
						<div class="col-sm-9">
							<input type="text" th:field="*{newPassword}" placeholder="newPassword" class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
					<div class="col-sm-4" align="center">
							
						</div>
						<div class="col-sm-4" align="center">
							<button type="submit" class="btn btn-primary btn-lg" style="width: 300px;">Update User</button>
						</div>
					</div>	
				</form>
			</div>
			<br></br>
         	<br></br>
			<br></br>
         	<br></br>
         	<div align="center">  
	         	<table>
		         	<tr align="center">
			        </tr>
		         	<tr align="center">
			            <td><form class="form-horizontal" th:action="@{/UI}"  method="get">
			            <input type="submit" class="btn btn-primary btn-lg" style="width: 800px;" value="Go back"/>
			            </form>
			            </td>
			        </tr>
		        </table>
	        </div>  
		</div>
	</div>

</body>
</html>