<!DOCTYPE HTML>
<html>
<head>
<title>Sawgath Jahan</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/style2.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="My Skills Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery-1.11.1.min.js"></script>

<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>

</head>
<body>
	
			<div class="header-section">
				<div class="continer">
					<img src="images/p2.png"/>
						<h1>hello..<span>!</span></h1>
							<p>My name is MD Sawgath Jahan, I am a student and a developer.</p>
							<a href="#contact" class="scroll top"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
				</div>
			</div>
		
			
			<div class="study-section">
				<div class="container">
					<div class="study-grids">
						<div class="col-md-6 study-grid">
						<h3>study..<span>!</span></h3>
						<div class="study1">
							<p>Master of Information Technology, University of Technology Sydney <label>( 2017 )</label></p>
							<p>Computer Science and Engineering, Islamic University of Technology <label>( 2014 )</label></p>
							<p>Higher Secondary Certificate, Cambrian College <label>( 2010 )</label></p>
							<p>Secondary School Certificate, Motijheel Model High School and College <label>( 2008 )</label></p>
						</div>
						</div>
						<div class="col-md-6 study-grid">
						<h3>skills..<span>!</span></h3>
						<div class="study2">
						<h4>html</h4>
							<div class="progress">
							  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
								<span class="sr-only">50% Complete (success)</span>
							  </div>
							</div>
						<h4>css</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
							<span class="sr-only">20% Complete</span>
						  </div>
						</div>
						<h4>js</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
							<span class="sr-only">60% Complete (warning)</span>
						  </div>
						</div>
						<h4>Java</h4>
							<div class="progress">
							  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
								<span class="sr-only">70% Complete (warning)</span>
							  </div>
							</div>
						<h4>C#</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
							<span class="sr-only">75% Complete (danger)</span>
						  </div>
						</div>
						</div>
					</div>
					<div class="clearfix"></div>
					</div>
				</div>
			</div>
			
			<div class="service-section" id="service">
				<div class="container">

		<div class="service-grids">
				<div class="col-md-16 study-grid">
						<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
						<br></br>
				<h3>Project..<span>!</span></h3>
				</div>
							<div class="col-md-16 service-grid">
								<h4>A .NET Application on Outdoor Patient Department for Child Health Research Foundation (CHRF)</h4>
								<span> </span>
								<p><b>Technology : </b> C# (Windows Forms Application), .Net MVC, SQL SERVER 2012.</p>
							</div>
							<div class="col-md-16 service-grid">
									<h4>A Spring MVC project Named RHIS monitoring Tool for Save the Children Bangladesh</h4>
									<span> </span>
									<p><b>Technology : </b> Java (Eclipse Mars),Spring MVC, pgAdmin (PostgreSQL administration and management tools).</p>
								</div>
								<div class="col-md-16 service-grid">
										<h4>ASP.NET MVC Web Project on Community Medicine Automation</h4>
										<span> </span>
										<p><b>Technology : </b> C#, ASP.Net MVC, Entity Framework, JQuery, Ajax, AngularJS, SQL SERVER 2012</p>
										<p><b>GitHub Link : </b><a>https://github.com/Sawgath/Community_Medicine_Automation_.Net-Entity-Framework</a></p>
									</div>
									<div class="col-md-16 service-grid">
											<h4>Web Developer</h4>
											<span> </span>
											<p><b>Technology : </b>Java (STS),Spring boot, Repository, Spring MVC, pgAdmin (PostgreSQL administration and management tools).</p>
											<p><b>GitHub Link : </b><a>https://github.com/Sawgath/Task_Management</a></p>
										</div>
							
							
							<div class="clearfix"> </div>
						</div>
					</div>
					</div>
				
				
			<div class="service-section" id="service">
					<div class="container">
	
			<div class="service-grids">
					<div class="col-md-16 study-grid">
							<span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
							<br></br>
					<h3>Professional Experiences..<span>!</span></h3>
					</div>
					<div class="col-md-16 service-grid">
							<h4>Senior Data Management Assistant</h4>
							<span> </span>
							<p><b>Company : </b>icddr,b , Bangladesh</p>
							<p><b>Year : </b>2015-2016</p>
						</div>
						<div class="col-md-16 service-grid">
								<h4>Web Developer</h4>
								<span> </span>
								<p><b>Company : </b>Asia Pacific Communication Ltd.</p>
								<p><b>Year : </b>2013</p>
							</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
		
			<div class="service-section" id="service">
				<div class="container">

		<div class="service-grids">
				<div class="col-md-16 study-grid">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						<br></br>
				<h3>Self-Appraisal..<span>!</span></h3>
				</div>
							<div class="col-md-16 service-grid">
									
								<p>	Honest and Punctual</p>
								<p>	Can collaborate with team</p>
								<p>	Always ready to face challenges</p>
								<p>Hard working , amiable and friendly</p>
							
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
					<!--end services-section-->
					
							<!--start-contact-section-->
						<div class="contact-section" id="contact">
				<div class="container">
					<h3>contact me</h3>
					 <div class="contact-details">
			 <form>
				 <div class="col-md-16 contact-left" align="center">
						<h4><b>Email : </b><a>sawjahan@gmail.com</a></h4>
						<br></br>
						<h4><b>Linkedin : </b><a>https://au.linkedin.com/in/sawgath-jahan-60217aa9</a></h4>
						<br></br>
						<h4><b>Facebook : </b><a>https://www.facebook.com/sawgath.mehedy</a></h4>
				 </div>
				 <div class="clearfix"> </div>
			 </form>
			</div>		 
		</div>
	</div>
	
			<div class="footer-section">
						<div class="container">
							<div class="footer-top">
						<p> All rights reserved | Design by Sawgath Jahan</p>
									</div>
							<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
			</div>



</body>
</html> 