<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
	<title>Task Management</title>
</head>
<body>
    <div class="container">
	    <div class="page-header" align="center">
	        <h1>Login </h1>
	    </div>
	    <span th:utext="${successMessage}"></span>
    		<p th:if="${loginError}" class="error">Wrong user or password</p>
    		<form class="form-horizontal" action="#" th:action="@{/Login}" th:object="${aUser}" method="post" style="border: medium;border-color: blue;">
                <div class="form-group" align="center">
                    <label class="col-sm-3 control-label">User Name :</label>
                    <div class="col-sm-6">
                    <input type="text" class="form-control" th:field="*{userName}"/>
                    </div>
                </div>
                <div class="form-group" align="center">
                    <label class="col-sm-3 control-label">Password :</label>
                    <div class="col-sm-6">
                    <input type="password" class="form-control" th:field="*{password}"/>

                    </div>
                </div>
	 			<div class="row" align="center">
	                <button type="submit" class="btn btn-primary btn-lg" style="width: 300px;">Submit</button>
	            </div>
         	</form>
         	<br></br>
         	<br></br>
         	<div align="center">
         	<form class="form-horizontal" action="#" th:action="@{/registration}"  method="get" style="border: medium;border-color: blue;">
	                <button type="submit" class="btn btn-primary btn-lg" style="width: 600px; background-color: green;">Sign up</button>
	        </form>
	        </div>
	        <br></br>
         	<div align="center">
         	<form class="form-horizontal" action="#" th:action="@{/forgot}"  method="get" style="border: medium;border-color: blue;">
	                <button type="submit" class="btn btn-warning btn-lg" style="width: 600px;">Forget password</button>
	        </form>
	        </div>
    </div>   
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/site.js"></script>
</body>
</html>