<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
	<title>Task Management</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-12 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"><span class="w3-hide-small"><a href="/">Task Management</a></span></span>
  </div>
</div>

    <div class="container">
	    <div class="page-header" align="center">
	        <h1>Login </h1>
	    </div>
	    	<div  align="center">
	    		<span style="color: gold;" th:utext="${successMessage}"></span>
	    	</div>
	     	<div  align="center">
    			<p th:if="${loginError}" class="error" style="color: red;">Wrong user or password</p>
    		</div>
    		<form class="form-horizontal" action="#" th:action="@{/Login}" th:object="${aUser}" method="post" style="border: medium;border-color: blue;">
                <div class="form-group" align="center">
                    <label class="col-sm-3 control-label">User Name :</label>
                    <div class="col-sm-6">
                    <input type="text" class="form-control" th:field="*{userName}"/>
                    </div>
                </div>
                <div class="form-group" align="center">
                    <label class="col-sm-3 control-label">Password :</label>
                    <div class="col-sm-6">
                    <input type="password" class="form-control" th:field="*{password}"/>

                    </div>
                </div>
	 			<div class="row" align="center">
	                <button type="submit" class="btn btn-primary btn-lg" style="width: 300px;">Submit</button>
	            </div>
         	</form>
         	<br></br>
         	<br></br>
         	<div align="center">
         	<form class="form-horizontal" action="#" th:action="@{/registration}"  method="get" style="border: medium;border-color: blue;">
	                <button type="submit" class="btn btn-primary btn-lg" style="width: 600px; background-color: green;">Sign up</button>
	        </form>
	        </div>
	        <br></br>
         	<div align="center">
         		<form class="form-horizontal" action="#" th:action="@{/forgot}"  method="get" style="border: medium;border-color: blue;">
	                <button type="submit" class="btn btn-warning btn-lg" style="width: 600px;">Forget password</button>
	        </form>
	        </div>
    </div>
 <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">Jahan</a></p>
</footer>
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/site.js"></script>
</body>
</html>