<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Update User</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
		<form th:action="@{/Login}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
		</form>	
		<br></br>
		<div align="center">
		<br></br>
		<span style="color: red; font-size: 20" th:utext="${successMessage}"></span>
		<span style="color: red; font-size: 20" th:utext="${errorMessage}"></span>
		<br></br>
		</div>
		<div align="center"><h2>Reset Password</h2></div>
			<div class="col-md-10 col-md-offset-1">
				<form  action="#" th:action="@{/reset}" th:object="${aPasswordResetHelperModel}" method="post" class="form-horizontal" role="form">
				
				<input type="text" th:field="*{resetToken}" placeholder="resetToken" class="form-control"  style="visibility: hidden;"/> 
					<div class="form-group">
					<label class="col-sm-2 control-label">Password :</label>
						<div class="col-sm-9">
							<input type="text" th:field="*{oldPassword}" placeholder="Password" class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
					<label class="col-sm-2 control-label">Confirm :</label>
						<div class="col-sm-9">
							<input type="text" th:field="*{newPassword}" placeholder="Password" class="form-control" /> 
						</div>
					</div>

					<div class="form-group">
					<div class="col-sm-4" align="center">
							
						</div>
						<div class="col-sm-4" align="center">
							<button type="submit" class="btn btn-primary btn-lg" style="width: 300px;">Save password</button>
						</div>
					</div>	
					
				</form>
			</div>
		 
		</div>
	</div>

</body>
</html>